/lab6/TestBean/nbproject/private/
/lab6/TestBean/build/
/lab6/visawebpj/nbproject/private/
/lab6/visawebpj/build/
/lab6/visawebpj/dist/
/lab7/ex1/nbproject/private/
/lab7/ex1/build/
/lab7/testXML/nbproject/private/
/lab7/testXML/build/
/lab7/testXML2/nbproject/private/
/lab7/exercise1/nbproject/private/
/lab7/exercise1/build/
/lab7/exercise2/nbproject/private/
/lab7/exercise2/build/
/lab7/exercise2/dist/
/lab7/exercise3/nbproject/private/
/lab7/exercise3/build/
/lab7/exercise4/nbproject/private/
/lab7/exercise4/build/
/lab7/exercise5/target/
